
<html>
	<head>
		<title>Update User</title>
	
	</head>
<body>
<h2>Update User Detail</h2>

<form action='' id="update_user" method="POST">

	{% csrf_token %}

	<label for="">User Id</label>{{id}}
	{% comment %} <input type="text" name="id"> {% endcomment %}
	
	<br><br>

	<label for="">First Name</label>
	<input type="text"  id="first_name" name="first_name" placeholder="Enter First Name">
	<br><br>
	
	<label for="">Last Name</label>
	<input type="text" id="last_name "name="last_name" placeholder="Enter Last Name">
	<br><br> 

	<label for="">Email</label>
	<input type="email" id="email"name="email" placeholder="Enter Email">
	<br><br>
	
	<label for="">age</label>
	<input type="number" id="age" name="age" placeholder="Enter age">
	<br><br>

	<label for="">Gender</label>
	<input type="text" id="gender"name="gender" placeholder="Enter Gender">
	<br><br>

	<label for="">Phone Number</label>
	<input type="number" id="phone_number"name="phone_number" placeholder="Enter Phone No">
	<br><br>

	<label for="">Enter Password</label>
	<input type="password" id="password"name="password" placeholder="Enter Password">
	<br><br>

	<button type="button" onclick="submitForm({{id}})">Update </button>

</form>

</body>

<script>
	function submitForm(id){
		let form =  document.getElementById('update_user')
		form.action = "/Updateuser/"+id+"/"
		form.submit()
	}
</script>


</html>